<router-outlet></router-outlet>



<div>
    <button class="btn-nuevo mt-4" mat-raised-button color="primary"
        routerLink="/personaNuevo"><i class="fas fa-plus"
            style="margin-right: 6px;"></i>Registrar Persona</button>
</div>




<div class="container-fluid mb-5">
    <mat-toolbar >Listado de personas</mat-toolbar>
    <div class="example-container mat-elevation-z8">

        <mat-table [dataSource]="dataSource" matSort>

            <!-- Definición de la columna ID -->
            <ng-container matColumnDef="idPersona">
                <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.idPersona}}</mat-cell>
              </ng-container>
              
              

              <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.nombre}}</mat-cell>
              </ng-container>
              

            <!-- Definición de la columna Apellido1 -->
            <ng-container matColumnDef="apellido1">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Apellido1</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.apellido1}}</mat-cell>
            </ng-container>

            <!-- Definición de la columna Apellido2 -->
            <ng-container matColumnDef="apellido2">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Apellido2</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.apellido2}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="grado">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Grado </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.grado?.cdCodigo}} </mat-cell>
              </ng-container>
              

            <ng-container matColumnDef="genero">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Sexo
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.genero.dsValor}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="tipoIdentificacion">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Identificación </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{row.tipoIdentificacion.dsValor}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="dni">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Dni
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.dni}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="fcNacimiento">
                <mat-header-cell *matHeaderCellDef mat-sort-header> F. Nac
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.fcNacimiento}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="telefono">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.telefono}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-button color="primary"
                        [routerLink]="['/personaEditar', row.idPersona]"><mat-icon>edit</mat-icon></button>
                    <button mat-button color="accent" (click)="eliminar(row)"><mat-icon>delete</mat-icon></button>
                </mat-cell>
            </ng-container>
            <!-- Definición de la fila -->
            <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
        </mat-table>

        <mat-paginator [length]="dataSource.data.length" [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>


    </div>

</div>
