<mat-toolbar class="mb-5">Registro de usuario</mat-toolbar>

<form [formGroup]="usuariosForm"  (ngSubmit)="modificarUsuario()" >
  <div class="container mt-4">
      <div class="row col-md-6" >
        <div class="form-group col-md-6">
          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre" required>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group col-md-6">
          <div class="form-group ">
            <mat-form-field appearance="fill">
              <mat-label>Apellidos</mat-label>
              <input matInput formControlName="apellido" required>
            </mat-form-field>
          </div>
        </div>
        
      </div>


      <div class="row col-md-6" >

        <div class="form-group col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Código usuario</mat-label>
            <input matInput formControlName="cdUsuario" required readonly="true">
          </mat-form-field>
        </div>

        <div class="form-group col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Correo electrónico</mat-label>
            <input matInput formControlName="email" required>
          </mat-form-field>
        </div>      
      </div>



      <div class="row col-md-6" >

        <div class="form-group col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName="password" required>
          </mat-form-field>
        </div>

        <div class="form-group col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Rol</mat-label>
            <mat-select formControlName="rolesDTO" required>
              <mat-option *ngFor="let rol of rolesDTO" [value]="rol.idRol">{{rol.rolNombre}}</mat-option>
            </mat-select>          
                        
          </mat-form-field>
        </div>      
      </div>





      <div class="row col-md-6" >

        <div class="form-group col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Fiscalía</mat-label>
            <mat-select formControlName="fiscalia" required>
              <mat-option *ngFor="let fiscalia of fiscalias" [value]="fiscalia.idValor">{{fiscalia.dsValor}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div class="form-group col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Mesa de partes</mat-label>
            <mat-select formControlName="mesaParte" required>
              <mat-option *ngFor="let mesaParte of mesaPartes" [value]="mesaParte.idValor">{{mesaParte.dsValor}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div> 

     
      </div>


      <div class="form-group col-md-12 mt-4 ml-3">
        <button mat-raised-button color="primary" type="submit" [disabled]="!usuariosForm.valid" style="margin-right: 20px;">Guardar</button>
        <button mat-raised-button color="warn" type="button">Cancelar</button>
      </div>
   
   
   
  </div>

</form>
