<h2>Agregar Persona</h2>
<form [formGroup]="modalPersonaForm" (ngSubmit)="guardar()" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px;">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primer Apellido</mat-label>
    <input matInput formControlName="apellido1">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Segundo Apellido</mat-label>
    <input matInput formControlName="apellido2">
  </mat-form-field>



  <mat-form-field>
    <mat-label>Fecha de Nacimiento</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="fcNacimiento">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  
  <mat-form-field>
    <mat-label>Teléfono</mat-label>
    <input matInput formControlName="telefono"   maxlength="9">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Género</mat-label>
    <mat-select formControlName="genero" required>
      <mat-option *ngFor="let genero of generos" [value]="genero.idValor">{{genero.dsValor}}</mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Tipo de Identificación</mat-label>
    <mat-select formControlName="tipoIdentificacion" required>
      <mat-option *ngFor="let tipo of tiposIdentificacion" [value]="tipo.idValor">{{tipo.dsValor}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field >
    <mat-label>DNI</mat-label>
    <input matInput formControlName="dni" (blur)="verificarDNI($event)"  (input)="restrictToNumbers($event)" maxlength="8" pattern="[0-9]*">
    <mat-error *ngIf="modalPersonaForm?.get('dni')?.errors?.['dniExists']">
      El DNI ingresado ya existe. Por favor, ingrese un DNI válido.
    </mat-error>
    <mat-error *ngIf="modalPersonaForm?.get('dni')?.hasError('dniInvalido')">
      El DNI debe tener 8 dígitos.
    </mat-error>
   </mat-form-field>


  <div class="form-group col-md-3">
    <mat-form-field appearance="fill">
      <mat-label>Grado</mat-label>
      <mat-select formControlName="grado" >
        <mat-option *ngFor="let grado of grados" [value]="grado?.idValor">{{grado?.dsValor}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" type="submit" [disabled]="!modalPersonaForm?.valid || modalPersonaForm?.get('dni')?.invalid" style="grid-column: span 3;">
    Registrar
  </button>
  
  
</form>
