form {
    margin-top: 30px;
    margin-left: 40px;

  }

.filaRoja{
  color: red!important;
}

.boton-buscar {
  margin-right: 10px; /* o el espacio que quieras */
}

.iconos{
  font-size: 13px;

  
}

.buscar{
  margin-left: 0px;

}

.agregarPersonas{
  margin-right: 10px;
}